@model HW8.Models.ViewModel.VM

@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Bids/Create">Bid on an Item! &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bid.BidID);
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bid.Timestamp);
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.ItemName);
                </th>
                <th>
                    @Html.DisplayName("BuyerName");
                </th>
                <th>
                    @Html.DisplayName("BidPrice");
                </th>
            </tr>

            @foreach (var b in Model.Bids)
            {
                <tr>
                    <td>
                        @b.BidID;
                    </td>
                    <td>
                        @b.Timestamp;
                    </td>
                    <td>
                        @b.Item.ItemName;
                    </td>
                    <td>
                        @b.BuyerName;
                    </td>
                    <td>
                        @b.Price;
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>