@model HW8.Models.ViewModel.VM


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemDescription)
        </dd>

    </dl>
</div>


@if (ViewBag.display)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bid.BidID);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName);
        </th>
        <th>
            @Html.DisplayName("BuyerName");
        </th>
        <th>
            @Html.DisplayName("BidPrice");
        </th>
    </tr>
    
 @foreach (var b in Model.Bids.OrderByDescending(b => b.Price))
 {
    <tr>
        <td>
            @b.BidID;
        </td>
        <td>
            @b.Item.ItemName;
        </td>
        <td>
            @b.BuyerName;
        </td>
        <td>
            @b.Price;
        </td>
    </tr>
 }
</table>

}



<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
