@model HW6.Models.ViewModel.VM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Person.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PreferredName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PreferredName)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FaxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FaxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.EmailAddress)
        </dd>
<p>
    @Html.ActionLink("Back to List", "Search")
</p>
</div>

<div>
    <dt>
        @Html.DisplayNameFor(model => model.Person.Photo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Person.Photo)
    </dd>
</div>

@if (ViewBag.pFound)
{
<div class="row">
    <div class="col">

    </div>

    <div class="col">

    </div>

</div>
}
