@model HW5.Models.Request

@{
    ViewBag.Title = "SeeRequest";
}

<h2>SeeRequest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expl)
        </th>
        <th></th>
    </tr>


    <tr>
        <th>
            @Model.FirstName
        </th>
        <th>
            @Model.LastName
        </th>
        <th>
            @Model.PhoneNum
        </th>
        <th>
            @Model.AptName
        </th>
        <th>
            @Model.Unit
        </th>
        <th>
            @Model.Expl
        </th>
        <th></th>
    </tr>
</table>
