@model HW5_DB.Models.Request

@{
    ViewBag.Title = "Create";
}

<h2>Campus Apartments</h2>


    <h4>Tennant Request Form</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form action="Create" method="post">
        <div class="row">
            <div class="col-4">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-4">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-4">
                    @Html.LabelFor(model => model.PhoneNum, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                    @Html.LabelFor(model => model.AptName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.AptName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AptName, "", new { @class = "text-danger" })
            </div>
            <div class="col-4">
                    @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Expl, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextAreaFor(model => model.Expl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

            <div class="col-8">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Select here to give permission for the landlord
                    or representative to enter our unit to perform the requested maintenance. We will call first.
                </label>
            </div>
        </div>
</form>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
